<div [ngClass]="{
  'list-group-item': true,
  'list-group-item-success': post.loveIts > 0,
  'list-group-item-danger': post.loveIts < 0
  }">
  <div class="d-flex w-100 justify-content-between">
    <strong class="mb-1">{{ post.title }}</strong>
    <small>{{ post.createdAt | date }}</small>
  </div>
  <p class="mb-1">
    {{ post.content }}
  </p>
  <div>
    <button type="button" class="btn btn-success m-1" (click)="onLikeClick()">Love it ! :)</button>
    <button type="button" class="btn btn-danger m-1" (click)="onDislikeClick()">Don't love it.. :(</button>
  </div>
</div>
