<div [ngClass]="{
  'list-group-item': true,
  'list-group-item-success': post.loveIts > 0,
  'list-group-item-danger': post.loveIts < 0
  }">
  <div class="d-flex w-100 justify-content-between">
    <strong class="mb-1">{{ post.title }}</strong>
    <small>{{ post.createdAt | date: 'short' }}</small>
  </div>
  <p class="mb-1">
    {{ post.content }}
  </p>

  <div class="d-flex w-100 justify-content-between">
    <div>
      <button type="button" class="btn btn-success m-1" (click)="onLikeClick()">Love it ! :)</button>
      <button type="button" class="btn btn-danger m-1" (click)="onDislikeClick()">Don't love it.. :(</button>
      <span class="badge badge-secondary m-1">
        {{ post.loveIts }}
      </span>
    </div>
    <button type="button" class="btn btn-danger" (click)="onDelete()">Delete</button>
  </div>
</div>
